/* Banner CSS */

.banner {
    padding-top: 225px;
    padding-bottom: 260px;
    position: relative;
    z-index: 1;
    @include sm {
        padding-bottom: 50px;
    }
    @include mmd {
        padding-top: 150px;
    }
    &::before {
        position: absolute;
        content: "";
        left: 15%;
        top: 50%;
        width: 700.123px;
        height: 140.692px;
        flex-shrink: 0;
        border-radius: 700.123px;
        background: #15B887;
        filter: blur(150px);
        z-index: 1;
        transform: translateY(-40%);
        @include mmd {
            top: 20%;
        }
    }
    &-content {
        z-index: 9;
        position: relative;
        & span {
            position: relative;
            z-index: 1;
            &::before {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                width: 100%;
                height: 8px;
                border-radius: 50px;
                background: $primary;
                z-index: -1;
            }
        }
        & h1 {
            @include font-120;
            margin-bottom: 50px;
            line-height: 1.3;
            @include mmd {
                line-height: 1.6;
            }
        }
        & p {
            margin-bottom: 50px;
            @include font-30;
            opacity: 0.8;
        }
        & .boxed__btn {
            margin-right: 20px;
            margin-bottom: 20px;
            min-width: 232px;
            text-align: center;
            @include sm {
                margin-right: 15px;
                margin-bottom: 15px;
                min-width: 180px;
            }
        }
        @include lg {
            width: 95%;
        }
    }
    & .banner-img {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-45%);
        z-index: -1;
        width: 50%;
        @include mmd {
            display: none;
        }
    }
    & .responsive_img {
        width: 90%;
        margin-left: auto;
    }
    & figure.banner__shap0 {
        position: absolute;
        left: -40px;
        top: 0px;
        max-width: 67px;
        z-index: -1;
        @include sm {
            left: -10px;
            max-width: 50px;
        }
    }
    & figure.banner__shap1 {
        position: absolute;
        left: 0;
        bottom: 70px;
        max-width: 314px;
        z-index: -1;
        @include sm {
            left: 0;
            max-width: 100px;
        }
    }
    & figure.banner__shap2 {
        position: absolute;
        left: 50%;
        bottom: -30px;
        transform: translateX(150px);
        max-width: 150px;
        z-index: -1;
        @include sm {
            left: auto;
            right: 0;
            bottom: -10px;
            max-width: 100px;
            transform: translateX(0px);
        }
    }
}


/* Banner CSS */


/* aplication__area CSS */

.aplication__area {
    padding-top: 127px;
    @include sm {
        padding-top: 60px;
    }
    & .aplication__box {
        position: relative;
        padding-top: 30px;
        padding-bottom: 250px;
        background-image: url('../img/application-bg-shap.png');
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: cover;
        @include mmd {
            padding-bottom: 200px;
        }
        @include sm {
            padding-bottom: 100px;
        }
        & .aplication__shap {
            position: absolute;
            right: 2%;
            bottom: -8%;
            max-width: 314px;
            z-index: 0;
            @include mmd {
                max-width: 214px;
            }
        }
        & .single__aplication__box {
            position: relative;
            max-width: 450px;
            margin: 0 auto;
            border-radius: 30px;
            background: #212B3A;
            padding: 41px 43px;
            margin-top: -80px;
            z-index: 2;
            border: 1px solid transparent;
            @include transition;
            @include sm {
                margin-top: 60px;
                margin-bottom: 40px;
                border-radius: 15px;
            }
            & .box__icon {
                border-radius: 21.758px;
                border-top: 1.088px solid rgba(255, 255, 255, 0.20);
                border-bottom: 3.264px solid rgba(255, 255, 255, 0.20);
                background: #0F1919;
                width: 119.671px;
                height: 119.671px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto 30px;
                margin-top: -100px;
                @include transition;
                & svg {
                    font-size: 57px;
                    color: #15B887;
                }
            }
            & h3 {
                margin-bottom: 20px;
            }
            & p {
                @include font-22;
                color: $_color_0_70;
                text-transform: capitalize;
            }
            &:hover {
                border: 1px solid $primary;
            }
            &:hover .box__icon {
                transform: scaleX(-1);
            }
        }
        & .space-evenly {
            justify-content: space-evenly;
        }
    }
    & .section__title {
        margin-bottom: 200px;
        @include sm {
            margin-bottom: 50px;
        }
    }
}


/* aplication__area CSS */


/* wallet__area CSS */

.wallet__area {
    padding-top: 130px;
    padding-bottom: 0px;
    @include sm {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    & .wallet_single_box {
        max-width: 580px;
        @include border__radius__42;
        border-top: 1px solid rgba(0, 0, 0, 0.20);
        border-bottom: 3px solid rgba(0, 0, 0, 0.20);
        background: $_212B3A;
        padding: 26px 50px 31px;
        @include mmd {
            padding: 30px 30px 30px;
        }
        & h3 {
            margin-bottom: 30px;
        }
        & p {
            color: $_color_0_70;
            max-width: 387px;
            text-transform: capitalize;
        }
        & .inline__btn {
            margin-top: 50px;
            min-width: 186px;
            text-align: center;
            @include sm {
                min-width: 150px;
            }
        }
    }
    & .w_i {
        position: relative;
        z-index: 1;
        margin-bottom: 0;
        @include xxl {
            margin-left: 10%;
            margin-right: -10%;
        }
        max-width: 650px;
        @include mmd {
            margin-top: 30px;
            max-width: 500px;
        }
        @include sm {
            margin-top: 70px;
            max-width: 400px;
        }
        & img {
            transition: all .3s ease-in-out;
        }
    }
    & .section__title {
        margin-bottom: 78px;
        @include sm {
            margin-bottom: 45px;
        }
    }
}

.eip {
    position: absolute;
    max-width: 40%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* aplication__area CSS */


/* trade__area CSS */

.trade__area {
    padding-top: 115px;
    padding-bottom: 88px;
    @include sm {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    & .section__title {
        max-width: 790px;
        margin: 0 auto 60px;
    }
    & .trade__wrapper {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        & .single__trade__item {
            @include border__radius__42;
            background: #212B3A;
            padding: 44px 50px 80px;
            width: calc(50% - 30px);
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & h3 {
                margin-bottom: 24px;
                @include sm {
                    margin-bottom: 15px;
                }
            }
            & p {
                color: $_color_0_70;
                @include font-22;
                text-transform: capitalize;
                font-weight: 400;
            }
            @include sm {
                width: 100% !important;
                display: flex;
                flex-direction: column-reverse;
                gap: 30px;
                padding: 30px 30px 30px;
            }
            & .trade__Img {
                text-align: center;
                margin-top: 60px;
                margin-bottom: 0;
                max-width: 200px;
                margin-left: auto;
                margin-right: auto;
                @include mmd {
                    max-width: 150px;
                    margin-top: 30px;
                }
                @include sm {
                    max-width: 100px;
                    margin-top: 0px;
                    margin-left: 0;
                }
            }
        }
        & .single__trade__item:nth-child(3) {
            width: 100% !important;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 140px;
            padding-bottom: 140px;
            padding-left: 160px;
            padding-right: 160px;
            @include mmd {
                padding: 80px 80px 80px;
            }
            @include sm {
                padding: 30px 30px 30px;
                display: flex;
                flex-direction: column-reverse;
                align-items: start;
            }
            & .trade__content {
                max-width: 615px;
            }
            & .trade__Img {
                text-align: center;
                margin-top: 0;
                width: 100%;
                @include sm {
                    margin-top: 0px;
                    margin-right: auto;
                }
            }
        }
    }
}


/* trade__area CSS */


/* snipe__area CSS */

.snipe__area {
    padding-top: 100px;
    padding-bottom: 70px;
    @include sm {
        padding-top: 35px;
    }
    & .section__title {
        max-width: 746px;
        margin: 0 auto 59px;
    }
    & .single__snipe__item {
        @include border__radius__42;
        background: $_212B3A;
        padding: 70px 35px 30px;
        height: 100%;
        margin-bottom: 30px;
        @include sm {
            padding-top: 30px;
        }
        & h3 {
            margin-bottom: 25px;
        }
        & p {
            color: $_color_0_70;
            text-transform: capitalize;
        }
        & .snipe__Img {
            max-width: 150px;
            margin: 0px auto 32px;
        }
    }
    & .row {
        & .col-lg-4 {
            margin-bottom: 30px;
        }
    }
}

.snipe__wrapper .col-lg-4:nth-child(2) .single__snipe__item {
    padding-left: 54px;
    padding-right: 54px;
}

.snipe__wrapper .col-lg-4:last-child .single__snipe__item {
    padding-left: 30px;
    padding-right: 30px;
}


/* snipe__area CSS */


/* industrylux__area CSS */

.industrylux__area {
    position: relative;
    z-index: 1;
    padding-top: 140px;
    padding-bottom: 140px;
    background-image: url('../img/industry_us_bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    @include sm {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    & .industrylux__wrapper {
        & .section__title {
            margin-bottom: 190px;
            @include lg {
                margin-bottom: 70px;
            }
            @include mmd {
                margin-bottom: 70px;
            }
            & p {
                @include font-27;
            }
        }
        & .single__industrylux__item {
            display: flex;
            align-items: center;
            gap: 40px;
            margin-bottom: 37px;
            @include font-30;
            @include sm {
                display: block;
            }
            & .btn {
                border-radius: 10px;
                background: $primary;
                display: inline-block;
                min-width: 296px;
                padding: 12px;
                color: $_white;
                @include transition;
                @include font-30;
                @include sm {
                    margin-bottom: 15px;
                    min-width: 230px;
                }
                &:hover {
                    background: $_212B3A;
                    color: $primary;
                }
            }
        }
        & .industrylux_img {
            width: 100%;
            margin-bottom: 0;
            margin-top: 30px;
            margin-left: auto;
            & img {
                max-width: 360px;
            }
            @include mmd {
                margin-left: 0;
                text-align: left !important;
            }
        }
    }
}


/* industrylux__area CSS */


/* comunity__area CSS */

.comunity__area {
    padding-top: 100px;
    padding-bottom: 95px;
    @include sm {
        padding-top: 70px;
        padding-bottom: 35px;
    }
    & .section__title {
        margin-bottom: 115px;
        @include sm {
            margin-bottom: 45px;
        }
    }
    & .single__comunity__item {
        height: 100%;
        @include border__radius__42;
        background: $_212B3A;
        padding: 46px 46px 51px;
        display: flex;
        align-items: start;
        gap: 30px;
        @include sm {
            flex-direction: column-reverse;
            align-items: start;
            padding: 30px;
            gap: 15px;
        }
        & .comunity__Img {
            width: 131.724px;
            height: 131.724px;
            background-color: #074052;
            padding: 31px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: 1px solid $primary;
            @include sm {
                width: 100px;
                height: 100px;
                padding: 20px;
            }
        }
        & .comunity__content {
            & span {
                color: $primary;
                text-transform: uppercase;
                @include font-16;
                letter-spacing: 2.4px;
                margin-bottom: 12px;
                display: inline-block;
            }
            & h3 {
                margin-bottom: 33px;
            }
            & p {
                color: $_color_0_70;
                @include font-18;
                text-transform: capitalize;
                margin-bottom: 28px;
                @include sm {
                    margin-bottom: 10px;
                }
            }
            & .inline__btn {
                margin-right: 20px;
                margin-top: 25px;
                min-width: 186px;
                text-align: center;
                @include sm {
                    margin-right: 15px;
                    padding: 15px 30px;
                    min-width: 160px;
                }
            }
            & .inline__btn:last-child {
                margin-right: 0;
            }
        }
        & .comunity__right_box {
            height: 100%;
            align-items: center;
            display: flex;
        }
    }
}

.comunity__area .single__comunity__item .comunity__content .inline__btn img {
    max-width: 70px;
    margin-right: 10px;
    margin-top: -4px;
}


/* comunity__area CSS */


/* Faq__area CSS */

.faq__area {
    padding-top: 120px;
    padding-bottom: 90px;
    @include sm {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    & .section__title {
        margin-bottom: 110px;
        @include sm {
            margin-bottom: 45px;
        }
    }
    & .accordion-item {
        margin-bottom: 15px;
        border-radius: 15px !important;
        background: $_212B3A;
        border: 0;
        padding: 28px 40px;
        @include sm {
            padding: 20px 10px;
            border-radius: 10px !important;
        }
        & .accordion-button {
            font-family: 'Satoshi-Regular';
            font-weight: 400;
            padding-bottom: 0;
            padding-top: 0px;
            background: $_212B3A !important;
            @include font-22;
            color: $_white;
            text-transform: capitalize;
        }
        & .accordion-body {
            color: $_white;
            opacity: 0.78;
            @include font-16;
            line-height: 170%;
            padding-bottom: 0;
            max-width: 82%;
            @include sm {
                max-width: 100%;
            }
        }
    }
    & .accordion {
        --bs-accordion-border-color: transparent;
        --bs-accordion-btn-focus-border-color: transparent;
        --bs-accordion-btn-focus-box-shadow: 0 0 0 0rem transparent;
        --bs-accordion-inner-border-radius: 10px - 10px;
    }
    .accordion-button:not(.collapsed)::after {
        background-image: url('../img/angle_up.svg');
        rotate: 0deg;
        @include transition;
        transform: translateY(5px);
    }
    .accordion-button::after {
        background-image: url('../img/angle_down.svg');
        @include transition;
    }
}

h2.accordion-header {
    background: transparent !important;
}

button.accordion-button {
    background: transparent !important;
}


/* Faq__area CSS */

.all_click_icons {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    &>* {
        transition: all .3s ease-in-out;
    }
    &#\39 0deg .ss {
        transform: rotate(-270deg);
    }
    &#\39 0deg .eff {
        transform: rotate(270deg);
    }
    &#\31 80deg .eff {
        transform: scaleY(-1);
    }
}

@media(max-width:1200px) and (min-width:992px) {
    .all_click_icons {
        transform: translate(-50%, -50%);
    }
}

figure.w_i {
    position: relative;
}

.all_click_icons .sc {
    position: absolute;
    top: 52%;
    left: 105px;
    width: 84px;
    height: 84px;
    margin-top: -54px;
    text-align: center;
    line-height: 84px;
    border-radius: 50%;
    opacity: 1;
    @include mmd {
        top: 51%;
        left: 28px;
    }
}

.all_click_icons .ss {
    position: absolute;
    bottom: 87px;
    left: 50%;
    width: 84px;
    height: 84px;
    margin-left: -34px;
    text-align: center;
    line-height: 84px;
    border-radius: 50%;
    opacity: 1;
    @include mmd {
        left: 51%;
        bottom: 18px;
    }
}

.all_click_icons .au {
    position: absolute;
    top: 50%;
    right: 80px;
    width: 84px;
    height: 84px;
    margin-top: -44px;
    text-align: center;
    line-height: 84px;
    border-radius: 50%;
    opacity: 1;
    @include mmd {
        top: 51%;
        right: 38px;
    }
}

.all_click_icons .eff {
    position: absolute;
    top: 99px;
    left: 50%;
    width: 84px;
    height: 84px;
    margin-left: -36px;
    text-align: center;
    line-height: 84px;
    border-radius: 50%;
    opacity: 1;
    @include mmd {
        left: 50%;
        top: 20px;
    }
}