/* Banner CSS */

.banner {
    padding-top: 200px;
    padding-bottom: 260px;
    position: relative;
    z-index: 1;
    @include sm {
        padding-bottom: 50px;
    }
    @include mmd {
        padding-top: 150px;
    }
    &::before {
        position: absolute;
        content: "";
        left: 10%;
        top: 50%;
        width: 832.123px;
        height: 149.692px;
        border-radius: 832.123px;
        background:#15B887;
        filter: blur(200px);
        z-index: 1;
        transform: translateY(-50%);
        
        @include mmd{
            top: 20%;
        }
    }
    &-content {
        z-index: 9;
        position: relative;
        & span {
            border-bottom: 8px solid $primary; 
        }
        & h1 {
            @include font-120;
            margin-bottom: 50px;
            line-height: 1.3;
        }
        & p {
            margin-bottom: 40px;
        }
        & .boxed__btn {
          margin-right: 20px;
          margin-bottom: 20px;
        }
    }
    & .banner-img{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: -1;
        width: 50%;
        @include mmd{
            display: none;
        }
    }
    & .responsive_img{
        width: 90%;
        margin-left: auto;
    }
    & figure.banner__shap0 {
        position: absolute;
        left: -40px;
        top: 0px;
        max-width: 67px;
        z-index: -1;
        @include sm{
            left: -10px;
            max-width: 50px;
        }
    }
    & figure.banner__shap1 {
        position: absolute;
        left: 0;
        bottom: 60px;
        max-width: 314px;
        z-index: -1;
        @include sm{
            left: 0;
            max-width: 100px;
        }
    }
    & figure.banner__shap2 {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(150px);
        max-width: 150px;
        z-index: -1;
        @include sm{
            left: auto;
            right: 0;
            bottom: -10px;
            max-width: 100px;
            transform: translateX(0px);
        }
    }
}

/* aplication__area CSS */
.aplication__area{
    padding-top: 80px;
   & .aplication__box{
        position: relative;
        padding-top: 30px;
        padding-bottom: 250px;
        background-image: url('../img/application-bg-shap.png');
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: cover;
        @include mmd{
            padding-bottom: 200px;
        }
        @include sm{
            padding-bottom: 100px;
        }
        & .aplication__shap{
            position: absolute;
            right: 3%;
            bottom: 0;
            max-width: 314px;
            z-index: 0;
            @include mmd{
                max-width: 214px;
            }
        }
        & .single__aplication__box {
            position: relative;
            max-width: 450px;
            margin: 0 auto;
            border-radius: 30px;
            background: #212B3A;
            padding: 41px 43px;
            margin-top: -80px;
            z-index: 2;
            border:1px solid transparent;
            @include transition;
            @include sm{
                margin-top: 60px;
                margin-bottom: 40px;
                border-radius: 15px;
            }
            & .box__icon {
                border-radius: 21.758px;
                border-top: 1.088px solid rgba(255, 255, 255, 0.20);
                border-bottom: 3.264px solid rgba(255, 255, 255, 0.20);
                background: #0F1919;
                width: 119.671px;
                height: 119.671px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto 30px;
                margin-top: -100px;
                @include transition;
                & svg {
                    font-size: 57px;
                    color: #15B887;
                }
            }
            & h3 {
                margin-bottom: 20px;
            }
            & p{
                @include font-22;
                color: $_color_0_70;
                text-transform: capitalize;
            }
            &:hover{
                border:1px solid $primary;
            }
            &:hover .box__icon{
                transform: scaleX(-1);
            }
        }
        
    }
    & .section__title{
        margin-bottom: 200px;
        @include sm{
            margin-bottom: 30px;
        }
    }
}


/* aplication__area CSS */

/* wallet__area CSS */
.wallet__area{
    padding-top: 130px;
    padding-bottom: 65px;
    & .wallet_single_box{
        max-width: 580px;
        border-radius: 42px;
        border-top: 1px solid rgba(0, 0, 0, 0.20);
        border-bottom: 3px solid rgba(0, 0, 0, 0.20);
        background: $_212B3A;
        padding: 26px 50px 31px;
        & h3{
            margin-bottom: 20px;
        }
        & p{
           color: $_color_0_70;
           max-width: 387px;
           text-transform: capitalize;
        }
        & .inline__btn{
            margin-top: 43px;
        }
    }
    & .w_i{
        @include xxxl{
            margin-left: 10%;
            margin-right: -10%;
        }
       
        @include xxl{
            margin-left: 10%;
            margin-right: -10%;
        }
       
        max-width: 700px;
    }
    & .section__title{
        margin-bottom: 78px;
    }
}

/* aplication__area CSS */


/* trade__area CSS */
.trade__area{
    & .section__title{
        max-width: 790px;
        margin: 0 auto;
    }
}
/* trade__area CSS */
